@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit; /* Removes blue colors from links too */
  text-decoration: inherit; /* Removes no underline */
}

/*=============================== NAVBAR SECTION ===============================*/

.header {
  padding: 1.5rem;
  margin: 0 auto;
  width: 85%;
  font-size: 1.5rem;
}
.header header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header header .brand-logo img {
  width: 40%;
}

.header .navBar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */
  position: fixed;
  left: 0;
  top: 120px;
  background-color: gray;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 20px 0;
  transition: 0.5s ease-in-out all;
  transform: translateX(100%);
}

.header .navBar nav.nav-toggle {
  transform: translateX(0);
}

.header header .navBar .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

/* .header header .navBar .nav-list li {
  padding: 5px 0;
} */

.header header .navBar .nav-list li a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0 25px;
  line-height: 55px;
  display: block;
}

.header .navBar nav .nav-list li a:hover {
  background-color: #9d3b3b;
  color: white;
}

.header header .navBar .navBar-button {
  padding: 10px;
  display: block;
  width: 100%;
  /* border-top: 0.5px solid rgba(255, 255, 255, 0.733); */
}

.header header .navBar .navBar-button a {
  display: inline-block;
  padding: 0.5em 2em;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: #9d3b3b;
  border: 1px #9d3b3b solid;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.header header .navBar .navBar-button a:hover {
  background-color: white;
  color: #9d3b3b;
  border: 1px #9d3b3b solid;
}

.header .navBar .hamburger-Menu {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  border: 1px solid black;
}

.header .navBar .hamburger-Menu .bar {
  height: 2px;
  width: 20px;
  background-color: black;
  position: relative;
  transition: 0.5s ease all;
}

.header .navBar .hamburger-Menu .bar::before,
.header .navBar .hamburger-Menu .bar::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 20px;
  background-color: black;
  transition: 0.5s ease all;
}

.header .navBar .hamburger-Menu .bar::before {
  top: -5px;
  left: 0;
}

.header .navBar .hamburger-Menu .bar::after {
  bottom: -5px;
  left: 0;
}

.header .navBar .hamburger-Menu.close .bar::before {
  top: 0;
  transform: rotate(45deg);
}

.header .navBar .hamburger-Menu.close .bar::after {
  top: 0;
  transform: rotate(-45deg);
}

.header .navBar .hamburger-Menu.close .bar {
  background-color: transparent;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid #f2f2f2;
}
/*=============================== END OF NAVBAR SECTION ===============================*/

/*=============================== HERO SECTION ===============================*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("/Images/hero_Photo_1920x1281.jpg") no-repeat center / cover;

  /* The linear-gradient adds a overlay to improve text readability */
  /* background: linear-gradient(rgba(0, 0, 0, 0.455), rgba(0, 0, 0, 0.4111)),
    url("/Landing_Page_Template/Images/hero_Photo_1920x1281.jpg") no-repeat
      center / cover; */

  /* The color code will add that color to the entire section */
  /* color: white; */
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* To move the content to the right Part 1/2 */
  /* text-align: right; */
}

.container .info h1 {
  /* The html font-size is 18px. So 18 * 3 will be 54px/ Always use rem or em instead of px */
  font-size: 4rem;
  margin-bottom: 1rem;
}

.container .info h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.container .info p {
  font-size: 1.5rem;
  /* The reason why the p tag has 70% width
  is so that it doesn't stretch all the way across
   the .container. It only stretches 70% of the container  */
  max-width: 55%;
  /* To move the p tag to the right Part 2/2 */
  /* margin: 0 auto;
  margin-right: 0; */
}

.container .info a {
  text-decoration: none;
  display: inline-block;
  background-color: #9d3b3b;
  color: white;
  border: 1px #9d3b3b solid;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 0.5em 2em;
  margin-top: 2rem;
}

.container .info a:hover {
  background-color: white;
  color: #9d3b3b;
  border: 1px #9d3b3b solid;
}

/*=============================== END OF HERO SECTION ===============================*/

/*=============================== MENU SECTION ===============================*/
#menu {
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  padding: 45px 0;
}

.menu__Title {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

.menu__items-Container {
  width: 100%;
  height: 100%;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu__item {
  /* width: clamp(320px, 65%, 65%); */
  /* width: clamp(320px, 35%, 35%); */
  flex: 1 0 21%; /* explanation below */
  width: clamp(23ch, 60%, 46ch);
  padding: 24px;
}

.menu__item-Contents {
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
}

.menu__item,
.menu__item--photo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu__item--photo {
  flex: 3 1 30ch;
  height: calc(282px + 5vw);
  overflow: hidden;
}

.menu__item--photo img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.menu__item-info {
  padding: 1rem;
}

.menu__item--title {
  /* margin: 0; */
  margin-bottom: 1rem;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
/* .menu__item--title a {
  text-decoration: none;
  color: inherit;
} */

.menu__item--value {
  font-size: clamp(1.4em, 2.1vw, 1.7em);
}

.menu__item--buy {
  text-decoration: none;
  display: inline-block;
  background-color: #9d3b3b;
  color: white;
  border: 1px #9d3b3b solid;
  border-radius: 4px;
  font-size: 1.1rem;
  padding: 0.5em 2em;
  margin-top: 2rem;
}

.menu__item--buy:hover {
  background-color: white;
  color: #9d3b3b;
  border: 1px #9d3b3b solid;
  cursor: pointer;
}
/*=============================== END OF MENU SECTION =============================== */

/*=============================== REVIEWS SECTION =============================== */
#reviews {
  position: relative;
  padding: 45px 0;
  text-align: center;
  background: linear-gradient(
      rgba(157, 59, 59, 0.502),
      rgba(157, 59, 59, 0.902)
    ),
    url(../Images/reviewsSection_bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 100vh; */
}

.reviews__Title {
  color: #ffffff;
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

.reviews__container {
  width: 100%;
  height: 100%;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* min-height: 100vh; */
}

figure.reviews__Comment {
  /* font-family: "Raleway", Arial, sans-serif; */
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.reviews__Comment * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.reviews__Comment img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.reviews__Comment blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  /* padding: 25px 50px 30px 50px; */
  padding: 25px 65px;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.reviews__Comment blockquote:before,
figure.reviews__Comment blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.reviews__Comment blockquote:before {
  top: 10px;
  left: 10px;
}
figure.reviews__Comment blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: 10px;
}
figure.reviews__Comment .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
figure.reviews__Comment .reviewer {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.reviews__Comment .reviewer h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.reviews__Comment .reviewer h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
  font-size: 0.6rem;
}
/*=============================== END OF REVIEWS SECTION =============================== */

/*===============================  DOWNLOAD MENU SECTION =============================== */
.downloadMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.downloadMenu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.downloadMenu--contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1rem;
}

.downloadMenu--title h2 {
  display: inline-block;
  font-size: 3rem;
  letter-spacing: -2px;
  margin: 0 15vw 0 0;
}

/* .downloadMenu--button button a {
  font-size: calc(17pt + 1.25vw);
  letter-spacing: 3px;
} */

.downloadMenu--clickBtn {
  text-decoration: none;
  display: inline-block;
  background-color: #9d3b3b;
  color: white;
  border: 1px #9d3b3b solid;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0.5em 2em;
}

.downloadMenu--clickBtn:hover {
  background-color: white;
  color: #9d3b3b;
  border: 1px #9d3b3b solid;
  cursor: pointer;
}

/*=============================== END OF DOWNLOAD MENU SECTION =============================== */

/*=============================== FOOTER SECTION ===============================*/
#footer {
  color: #fff;
  font-size: 1em;
  padding: 38px 0;
  box-sizing: border-box;
  background: #262626;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 0 2%;
  margin: 0 auto;
}

#footer .footer__container .footer__menu__list {
  display: inline-block;
}

.footer__menu__list h2 {
  color: #fff;
  margin: 10px 0 5px;
  font-size: calc(12pt + 0.4vw);
  font-weight: 700;
  text-transform: uppercase;
}

.footer__menu__list ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer__menu__list ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgba(101, 99, 99, 1);
}

.footer__menu__list ul li a:hover {
  color: rgb(255, 255, 255);
}

#footer img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.footer__company-logo {
  width: 45%;
}

.footer__rights {
  text-align: center;
  font-size: 0.8em;
  /* margin: 4rem 0 0 0; */
  padding: 4rem 0;
}

.footer__rights__container {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 0 2%;
  margin: 0 auto;
}

.footer__rights .footer__rights__container .center {
  font-size: 1rem;
  color: white;
}
/*=============================== END OF FOOTER SECTION ===============================*/

/*=============================== ABOUT SECTION ===============================*/
.about {
  position: relative;
  width: 100%;
  padding: 2rem 0;
}

.about__Title {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

.about__container {
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
}

.about__container-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.about__item1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.about .about-img {
  position: relative;
  height: 100%;
}

.about .about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.about__item2 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.about__item2-header {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
}

.about_item2-header,
h2 {
  margin: 0;
  position: relative;
  font-size: 3.125rem;
  font-weight: 700;
}

.about_item2-text p {
  font-size: 1rem;
  line-height: 1.6em;
}

@media only screen and (max-width: 768px) {
  .about_item2-text p {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .about__container-items {
    flex-direction: column;
  }
  .about__item1 {
    order: 1;
    max-width: none;
  }
  .about__item2 {
    order: 2;
    max-width: none;
  }
  .about__item2-header {
    margin: 10px 0 10px 0;
  }
  .about_item2-header,
  p {
    font-size: 1rem;
  }
  .about_item2-header,
  h2 {
    font-size: 2.1rem;
  }
}
/*=============================== END OF ABOUT SECTION ===============================*/

/*=============================== CONTACT SECTION ===============================*/
#form {
  margin-bottom: 5%;
  margin-top: 3%;
}

.contact__Title {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

.form__content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.form__container--content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 1.6rem;
}

.btn-primary {
  background-color: #9d3b3b;
  color: white;
  border: 1px #9d3b3b solid;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0.5em 2em;
}

.btn-primary:hover {
  background-color: white;
  color: #9d3b3b;
  border: 1px #9d3b3b solid;
  cursor: pointer;
}

form {
  padding: 20px;
  margin: 0 auto;
}
form div {
  padding: 5px;
}
label {
  display: block;
}
input + label {
  display: inline-block;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #999;
  padding: 5px;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .form__content {
    width: 1170px;
  }
}

@media only screen and (min-width: 992px) {
  .form__content {
    width: 970px;
  }
}

@media only screen and (min-width: 768px) {
  .form__content {
    width: 750px;
  }
  label {
    font-size: 1rem;
  }
}
/*=============================== END OF CONTACT SECTION ===============================*/

/*=============================== MENU PAGE SECTION ===============================*/
#menuPage {
  position: relative;
  width: 100%;
  padding: 2rem 0;
}

.menuPage__Title {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

.menuPage__Container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

@media only screen and (max-width: 700px) {
  .menuPage__Image {
    width: 100%;
    height: 100%;
  }
}

/*=============================== END OF MENU PAGE SECTION ===============================*/

/*=============================== MEDIA QUERIES ===============================*/

/* MENU SECTION */
/* @media only screen and (max-width: 1660px) {
  .menu__item:nth-child(4) {
    flex: 1 0 21%;
  }
} */

/* END OF MENU SECTION */

/*=============================== NAVBAR MENU ===============================*/
@media only screen and (min-width: 1200px) {
  .header .navBar {
    width: auto;
  }
  .header .navBar nav {
    position: initial;
    transform: translate(0, 0);
    width: auto;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
  }
  .header .navBar nav .nav-list {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  .header .navBar nav .nav-list li {
    /* padding: 0 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
  }
  .header .navBar nav .nav-list li a {
    color: black;
    font-size: 1.2rem;
  }
  .header .navBar .hamburger-Menu {
    display: none;
  }
}
/*=============================== END OF NAVBAR MENU ===============================*/

/*=============================== HERO SECTION ===============================*/
@media only screen and (max-width: 1000px) {
  #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.455), rgba(0, 0, 0, 0.4111)),
      url("/Images/hero_Photo_1920x1281.jpg") no-repeat center / cover;
    color: white;
  }
}

@media only screen and (max-width: 865px) {
  .menu__item {
    flex: none;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.455), rgba(0, 0, 0, 0.4111)),
      url("/Images/hero_Photo_1920x1281.jpg") no-repeat center / cover;
    color: white;
  }
  .container {
    text-align: center;
    margin: 0 auto;
  }

  .container .info h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .container .info h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .container .info p {
    margin: 0 auto;
    margin-right: 0;
    max-width: 100%;
    font-size: 1.4rem;
  }
  /*=============================== END OF HERO SECTION ===============================*/

  /*=============================== NAVBAR MENU ===============================*/
  .header header .navBar .navBar-button a {
    font-size: 1.8rem;
    padding: 0.5em 2em;
  }
  /*=============================== END OF NAVBAR MENU ===============================*/
  .menu__item--title {
    font-size: clamp(2.5em, 2.1vw, 2.1em);
  }
  .menu__item--desc {
    font-size: 1.3rem;
  }
  .menu__item--value {
    font-size: clamp(2.5em, 2.1vw, 1.7em);
  }
  .menu__item--buy {
    font-size: 1.5rem;
  }

  figure.reviews__Comment blockquote {
    font-size: 1.4rem;
  }
  figure.reviews__Comment .reviewer h5 {
    font-size: 1.25em;
  }
  figure.reviews__Comment .reviewer h5 span {
    font-size: 1rem;
  }

  .footer__menu__list ul li {
    font-size: calc(10pt + 0.4vw);
  }

  .header .navBar nav {
    top: 95px;
  }
}

@media only screen and (max-width: 850px) {
  #footer .footer__container {
    justify-content: space-around;
    text-align: center;
  }
  #footer .footer__company-logo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #909090;
  }
}

@media only screen and (max-width: 800px) {
  #reviews {
    background: linear-gradient(
        rgba(157, 59, 59, 0.502),
        rgba(157, 59, 59, 0.902)
      ),
      url(../Images/reviewsSection_bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-fixed: fixed;
    -moz-background-fixed: fixed;
    -o-background-fixed: fixed;
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 670px) {
  .header .navBar nav {
    top: 80px;
  }
}

/*=============================== MENU SECTION ===============================*/
@media only screen and (max-width: 540px) {
  .menu__item {
    width: 100%;
  }
}
/*=============================== END OF MENU SECTION ===============================*/
@media only screen and (max-width: 505px) {
  #footer {
    padding: 2rem;
  }

  #footer .footer__container {
    margin: 0;
  }

  #footer .mp-block-54 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #909090;
  }
}

@media only screen and (max-width: 500px) {
  #footer .footer__container .footer__menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*=============================== NAVBAR MENU ===============================*/
@media only screen and (max-width: 435px) {
  .header header .brand-logo img {
    width: 80%;
  }
  .downloadMenu--title h2 {
    font-size: 1.6rem;
    letter-spacing: 0;
    margin: 0 12vw 0 0;
  }
}
/*=============================== END OF NAVBAR MENU ===============================*/
@media only screen and (max-width: 450px) {
  #footer .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
